
.navbartext{

    font-size: 18px;
    font-style: oblique;

}

.buttontext {

    font-size: 14px;
    
}

.marginsetting{
    margin-left: 210px;
}

.buttonw {

    width: 160px;
    height: 40px;
}

._height2xl {

    height: 24px;
}